[submodule "packages/bos-workspace"]
	path = packages/bos-workspace
	url = https://github.com/NEARBuilders/bos-workspace
[submodule "twitter-bot"]
	path = twitter-bot
	url = https://github.com/nearbuilders/twitter-bot
[submodule "packages/twitter-bot"]
	path = packages/twitter-bot
	url = https://github.com/nearbuilders/twitter-bot
[submodule "packages/create-bos-app"]
	path = packages/create-bos-app
	url = https://github.com/archetype-org/create-bos-app
[submodule "near-bos-webcomponent"]
	path = near-bos-webcomponent
	url = https://github.com/petersalomonsen/near-bos-webcomponent
[submodule "web4-min-contract"]
	path = web4-min-contract
	url = https://github.com/vgrichina/web4-min-contract.git
